---
# install Nginx server
- name: Enable amazon-linux-extras packages
  shell: "amazon-linux-extras enable nginx1.12"

- name: Install Nginx
  yum:
    name:    
      - nginx



- name: example copying file with owner and permissions
  copy:
    src: roles/nginx/files/nginx.conf
    dest: /etc/nginx/nginx.conf
    owner: foo
    group: foo
    mode: 0644

- name: write the Nginx config file
  template:
    src: roles/nginx/templates/index.html
    dest: /usr/share/nginx/html/index.html
    owner: root
    group: root
    mode: 0644
  notify:
    - restart nginx

- name: start Nginx
  service:
    name: nginx
    state: started
    enabled: yes

