---
# install Nginx server
- name: Enable amazon-linux-extras packages
  shell: "amazon-linux-extras enable nginx1.12"
  when: ansible_distribution == 'Amazon'

- name: Install Nginx yum
  yum:
    name:    
      - nginx
  when: ansible_pkg_mgr == "yum"

- name: Install Nginx yum
  apt:
    name:    
      - nginx
  when: ansible_pkg_mgr == "apt"

- name: Example copying file with owner and permissions
  template:
    src: roles/nginx/files/nginx.conf
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: 0644
  when: ansible_pkg_mgr == "yum"

- name: Example copying file with owner and permissions
  template:
    src: roles/nginx/files/nginx.conf
    dest: /etc/nginx/sites-available/default
    owner: root
    group: root
    mode: 0644
  when: ansible_pkg_mgr == "apt"

- name: Write the Nginx config file
  template:
    src: roles/nginx/templates/index.html.j2
    dest: /usr/share/nginx/html/index.html
    owner: root
    group: root
    mode: 0644
  notify:
    - restart nginx

- name: Start Nginx
  service:
    name: nginx
    state: started
    enabled: yes

