---
# update packager yum based systems
- name: Update all packages
  yum: 
    update_cache: yes
    name: "*"
    state: latest
  when: ansible_pkg_mgr == "yum"  

  # Update apt packages to latest version  
- name: Upgrade all packages to the latest version
  apt:
    force_apt_get: yes
    update_cache: yes
    name: "*"
    state: latest
  when: ansible_pkg_mgr == "apt"  